<ion-view title="Menu Pizza" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="menuPizza-heading8" style="color:#000000;text-align:center;">Une pizza sauce piquante</h3>
    <div>
      <img src="img/QzKPpkRpTaG5Edl9WZYA_pizza.jpg" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="menuPizza-heading9" style="color:#000000;text-align:center;">Saisir le numéro de la salle pour la livraison :</h3>
    <form id="menuPizza-form3" class="list">
      <label class="item item-input" id="menuPizza-input2">
        <input type="text" placeholder="">
      </label>
      <a ui-sref="commande()" id="menuPizza-button5" class="button button-positive button-block">COMMANDER</a>
    </form>
  </ion-content>
</ion-view>