<ion-view title="Menu Sandwich" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="menuSandwich-heading10" style="color:#000000;text-align:center;">Un sandwich jambon</h3>
    <div>
      <img src="img/Xoz8lv1fTCmPM1tWVlxP_sandwich.jpg" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="menuSandwich-heading11" style="color:#000000;text-align:center;">Saisir le numéro de la salle pour la livraison :</h3>
    <form id="menuSandwich-form4" class="list">
      <label class="item item-input" id="menuSandwich-input3">
        <input type="text" placeholder="">
      </label>
      <a ui-sref="commande()" id="menuSandwich-button6" class="button button-positive button-block">COMMANDER</a>
    </form>
  </ion-content>
</ion-view>