<ion-view title="Menu Burger" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="menuBurger-heading2" style="color:#000000;text-align:center;">Un burger avec des frites</h3>
    <div>
      <img src="img/IWiFEpnASK61gx6zsbhe_burger.jpg" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="menuBurger-heading3" style="color:#000000;text-align:center;">Saisir le numéro de la salle pour la livraison :</h3>
    <form id="menuBurger-form2" class="list">
      <label class="item item-input" id="menuBurger-input1">
        <input type="text" placeholder="">
      </label>
      <a ui-sref="commande()" id="menuBurger-button1" class="button button-positive button-block">COMMANDER</a>
    </form>
  </ion-content>
</ion-view>